In [ ]:
import pandas as ps
import numpy as np
import seaborn as sb

In [ ]:
from sklearn.metrics import confusion_matrix
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

In [ ]:
#Modelo Planea
datos = ps.read_csv('/content/planea.csv', delimiter = ';')

In [ ]:
datos

,NOMBRE,TURNO,PA-NI-LC,PA-NII-LC,PA-NIII-LC,PA-NIV-LC,PA-NI-MAT,PA-NII-MAT,PA-NIII-MAT,PA-NIV-MAT
0,COLEGIO NACIONAL DE EDUCACION PROFESIONAL TECN...,MATUTINO,26.8,31.0,32.4,9.9,63.4,21.1,12.7,2.8
1,COLEGIO NACIONAL DE EDUCACION PROFESIONAL TECN...,VESPERTINO,52.8,27.8,19.4,0.0,80.8,19.2,0.0,0.0
2,COLEGIO DE BACHILLERES NUM. 17,MATUTINO,29.2,20.8,43.1,6.9,63.5,25.7,6.8,4.1
3,COLEGIO DE BACHILLERES NUM. 17,VESPERTINO,41.2,30.9,19.1,8.8,74.2,19.7,3.0,3.0
4,COLEGIO DE BACHILLERES NUM. 25,MATUTINO,24.7,31.5,35.6,8.2,68.8,23.4,7.8,0.0
...,...,...,...,...,...,...,...,...,...,...
129,PROF. RAFAEL TURRUBIARTES MACIAS,MATUTINO,45.9,24.3,24.3,5.4,78.4,18.9,2.7,0.0
130,TOMAS MIRANDA LEURA,MATUTINO,54.7,34.7,9.3,1.3,86.7,9.3,4.0,0.0
131,FLORENCIO SALAZAR MARTINEZ,VESPERTINO,66.7,23.8,4.8,4.8,95.2,4.8,0.0,0.0
132,NICOLAS LEON,VESPERTINO,57.9,31.6,10.5,0.0,94.7,5.3,0.0,0.0
133,MIGUEL DE CERVANTES SAAVEDRA,VESPERTINO,62.5,31.3,6.3,0.0,88.2,11.8,0.0,0.0

In [ ]:
datos.head(1)

,NOMBRE,TURNO,PA-NI-LC,PA-NII-LC,PA-NIII-LC,PA-NIV-LC,PA-NI-MAT,PA-NII-MAT,PA-NIII-MAT,PA-NIV-MAT
0,COLEGIO NACIONAL DE EDUCACION PROFESIONAL TECN...,MATUTINO,26.8,31.0,32.4,9.9,63.4,21.1,12.7,2.8

In [ ]:
datos2 = datos.drop(['NOMBRE', 'TURNO'], axis=1)

In [ ]:
scaler = datos
estandariza = StandardScaler()
datos2 = estandariza.fit_transform(datos2)

In [ ]:
#3 clusters es decir 5 grupos
kmeans = KMeans(n_clusters=5, n_init=10)
kmeans.fit(datos2)

KMeans(n_clusters=5, n_init=10)

In [ ]:
kmeans.labels_

array([4, 3, 4, 0, 4, 4, 1, 4, 1, 1, 4, 3, 4, 4, 4, 1, 4, 3, 3, 1, 1, 4,
       3, 4, 0, 3, 3, 0, 4, 4, 4, 0, 4, 3, 4, 3, 3, 4, 0, 4, 1, 0, 1, 1,
       1, 0, 0, 0, 4, 3, 3, 4, 0, 3, 0, 0, 4, 3, 4, 0, 3, 4, 0, 4, 0, 4,
       4, 4, 4, 1, 4, 3, 1, 4, 3, 3, 1, 0, 3, 1, 4, 1, 1, 4, 1, 1, 1, 1,
       1, 0, 4, 1, 1, 4, 1, 1, 1, 1, 0, 4, 0, 1, 2, 3, 0, 4, 3, 1, 3, 4,
       3, 0, 3, 4, 0, 4, 0, 0, 1, 3, 3, 3, 3, 0, 3, 4, 3, 0, 4, 3, 3, 3,
       3, 3], dtype=int32)

In [ ]:
datos3 = datos.assign(Grupo = kmeans.labels_)

In [ ]:
datos3.sort_values(by='Grupo')

,NOMBRE,TURNO,PA-NI-LC,PA-NII-LC,PA-NIII-LC,PA-NIV-LC,PA-NI-MAT,PA-NII-MAT,PA-NIII-MAT,PA-NIV-MAT,Grupo
98,"SISTEMA EDUCATIVO CARL ROGERS, A.C.",MATUTINO,22.2,55.6,0.0,22.2,88.9,11.1,0.0,0.0,0
62,"COLEGIO ALMA PATRIA DE SAN LUIS, A.C.",MATUTINO,34.8,37.7,20.3,7.2,91.4,8.6,0.0,0.0,0
117,E.P.C. NUM. 5 GRACIANO SANCHEZ ROMO,MATUTINO,27.5,45.0,22.5,5.0,76.9,17.9,5.1,0.0,0
77,INSTITUTO DE EDUCACION PRODUCTIVA,MATUTINO,33.3,25.0,41.7,0.0,90.0,10.0,0.0,0.0,0
116,PROF. J. NATIVIDAD SANCHEZ,VESPERTINO,37.3,38.8,17.9,6.0,85.1,13.4,1.5,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...
51,INSTITUTO ATENEA,MATUTINO,41.7,8.3,41.7,8.3,66.7,25.0,8.3,0.0,4
48,COLEGIO VALLARTA,MATUTINO,28.6,21.4,35.7,14.3,80.0,20.0,0.0,0.0,4
39,"COLEGIO HISPANO MEXICANO, A.C.",MATUTINO,6.5,29.0,35.5,29.0,51.5,30.3,12.1,6.1,4
63,INSTITUTO RICARDO FLORES MAGON,MATUTINO,8.0,20.0,40.0,32.0,72.0,20.0,8.0,0.0,4
66,ESCUELA PREPARATORIA SAN LUIS DE LA PATRIA,VESPERTINO,25.0,16.7,58.3,0.0,72.7,18.2,9.1,0.0,4

NameError: ignored